
# COPIAR ESTE ARCHIVO A .env Y CONFIGURAR

PORT=3000
NODE_ENV=development

# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=nombre_base_de_datos
DB_USER=postgres
DB_PASSWORD=tu_password
DB_SSL=false

# JWT
JWT_SECRET=genera_una_clave_secreta_aqui
JWT_EXPIRES_IN=8h