<div class="alert alert-primary mt-4 container text-center">
    <h2>Gestión de Dolicilios</h2>
</div>

<!-- Botones de acción -->
<div class="container mb-3 text-end">
    <button class="btn btn-success" onclick="mostrarFormulario()">Crear Domicilio</button>
    <button class="btn btn-secondary d-none" id="btnCancelar" onclick="mostrarTabla()">Cancelar</button>
</div>

<!-- FORMULARIO para crear/editar categotias -->
<div class="container d-none" id="contenedorFormulario">
    <form id="formDomicilios">
        <!-- Campo oculto para el ID al editar -->
        <input type="hidden" id="pk_domicilio">

        <div class="mb-3">
            <label class="form-label">Nombre Calle</label>
            <input type="text" id="nombre" class="form-control" required>
        </div>

         <div class="mb-3">
            <label class="form-label">Numero de domicilio</label>
            <input type="text" id="num" class="form-control" required>
        </div>

        <button type="submit">Guardar domicilio</button>
    </form>
</div>

<!-- TABLA para listar categotias -->
<div class="container mt-4" id="contenedorTabla">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Numero</th>
                <th>Fecha_registro</th>
                <th>estado</th>
            </tr>
            <link rel="stylesheet" href="../css/estilos.css">
        </thead>
        <tbody id="tablaDomicilios"></tbody>
    </table>
    <!-- Contenedor para la paginación -->
    <div id="footer-paginacion"></div>
</div>