<div class="pagination-container text-center mt-4">
    <div class="d-flex justify-content-center align-items-center gap-2">
        <button class="btn btn-primary btn-sm" id="btn-primero">Primero</button>
        <button class="btn btn-primary btn-sm" id="btn-anterior">Anterior</button>

        <span id="pagina-info" class="badge bg-secondary"></span>
        <input id="pagina-input" class="form-control form-control-sm" style="width:60px">

        <span id="registro-info" class="badge bg-light text-dark"></span>

        <button class="btn btn-primary btn-sm" id="btn-siguiente">Siguiente</button>
        <button class="btn btn-primary btn-sm" id="btn-ultimo">Último</button>
    </div>
</div>
